{% for owner in hwi_oauth_resource_owners() %}
    <a href="{{ hwi_oauth_login_url(owner) }}"><img
                src="{{ asset('bundles/adwmindbox/images/network-icon/' ~ owner ~ '.png') }}"
                alt="{{ owner | trans({}, 'HWIOAuthBundle') }}"
                title="{{ owner | trans({}, 'HWIOAuthBundle') }}"
                height="56px"/></a>
{% endfor %}