{% for flashMessage in app.session.flashbag.get('forgot-password') %}
    {{ flashMessage }}
{% endfor %}

{{ form_start(form) }}

    {{ form_row(form.login) }}
    {{ form_row(form.password) }}
    {{ form_row(form.remember) }}

<div>
    <a href="{{ path('adw_mindbox__forgot_password__index') }}">
        {{ 'link.forgot_password'|trans({}, 'ADWMindboxBundle') }}</a>
</div>

<div>
    <button type="submit">
        {{ 'form.submit.login'|trans({}, 'ADWMindboxBundle') }}</button>
</div>

<div>
    <h3>{{ 'label.auth_by_sn'|trans({}, 'ADWMindboxBundle') }}</h3>

    {% include 'ADWMindboxBundle::social-buttons.html.twig' %}
</div>

{{ form_end(form) }}