<link rel="stylesheet" href="/jquery-ui/jquery-ui-1.10.3.custom.min.css"/>

<script src="{{ asset('js/jquery-1.8.3.js') }}"></script>
<script src="{{ asset('js/jquery-ui-1.10.3.custom.min.js') }}"></script>
<script src="{{ asset('js/jquery.jsonp-2.4.0.min.js') }}"></script>

{% set crm_domain = 'danone-services.directcrm.ru' %}{# TODO: fix hard-code #}

<script src="https://{{ crm_domain }}/public/scripts/common/itc.ajax.js"></script>
<script src="https://{{ crm_domain }}/public/scripts/directcrm/postaddress.js"></script>

{% for flashMessage in app.session.flashbag.get('profile-edit') %}
    {{ flashMessage }}
{% endfor %}

{{ form_start(edit_form) }}

    {% for child in edit_form.children %}
        {{ form_row(child) }}
    {% endfor %}

<button type="submit">
    {{ 'form.submit.edit_profile'|trans({}, 'ADWMindboxBundle') }}</button>

{{ form_end(edit_form) }}

<div>
    <h3>{{ 'label.bind_sn'|trans({}, 'ADWMindboxBundle') }}</h3>

    {% include 'ADWMindboxBundle::social-buttons.html.twig' %}
</div>