{% for flashMessage in app.session.flashbag.get('forgot-password') %}
    {{ flashMessage }}
{% endfor %}

{{ form_start(change_pass_form) }}

{{ form_row(change_pass_form.contact) }}

<div>
    <button type="submit">
        {{ 'form.submit.forgot_password'|trans({}, 'ADWMindboxBundle') }}</button>
</div>

{{ form_end(change_pass_form) }}