<script src="{{ asset('js/jquery-1.8.3.js') }}"></script>
<script src="{{ asset('js/jquery-ui-1.10.3.custom.min.js') }}"></script>
<script src="{{ asset('js/jquery.jsonp-2.4.0.min.js') }}"></script>

{% set crm_domain = 'danone-services.directcrm.ru' %}{# TODO: fix hard-code #}

<script src="https://{{ crm_domain }}/public/scripts/common/itc.ajax.js"></script>
<script src="https://{{ crm_domain }}/public/scripts/directcrm/postaddress.js"></script>

{% for flashMessage in app.session.flashbag.get('registration') %}
    {{ flashMessage }}
{% endfor %}

{{ form_start(registration_form) }}

    {% for child in registration_form.children %}
        {{ form_row(child) }}
    {% endfor %}

<button type="submit">
    {{ 'form.submit.registration'|trans({}, 'ADWMindboxBundle') }}</button>

{{ form_end(registration_form) }}