{% extends 'form_div_layout.html.twig' %}


{% block adw_mindbox__post_address_widget %}
    {# @see https://mindbox.fogbugz.com/default.asp?W486 #}

    {% set crm_domain = 'danone-services.directcrm.ru' %}

    {% set type_full = constant('ADW\\MindboxBundle\\Form\\Type\\PostAddressType::TYPE_FULL') %}
    {% set type_complex = constant('ADW\\MindboxBundle\\Form\\Type\\PostAddressType::TYPE_COMPLEX') %}
    {% set type_simple = constant('ADW\\MindboxBundle\\Form\\Type\\PostAddressType::TYPE_SIMPLE') %}

    <div style="display: none;">
        {# Просто скрываем хлам #}
        {{ form_row(form.region.type) }}
        {{ form_row(form.district.type) }}
        {{ form_row(form.settlement.type) }}
    </div>

    <div style="display: {{ widget_type == type_simple ? 'none' : 'block' }};">
        <div id="{{ form.vars.id }}-complex">
            {% if widget_type == type_full %}
                <a href="javascript:void(0)"
                   class="simple-settlement-input-switch">Свободный ввод</a>
            {% endif %}

            {{ form_row(form.postIndex) }}
            {{ form_row(form.region) }}
            {{ form_row(form.district) }}
            {{ form_row(form.settlement) }}

            {{ form_row(form.street) }}
            <div class="house-panel">{{ form_row(form.house) }}</div>
            <div class="estate-panel" style="display: none;">
                {{ form_row(form.estate) }}
            </div>
            {{ form_row(form.building) }}
            {{ form_row(form.unit) }}
            {{ form_row(form.flat) }}
        </div>
    </div>

    {% if widget_type == type_full or widget_type == type_simple %}
        <div id="{{ form.vars.id }}-simple">
            {% if widget_type == type_full %}
                <a href="javascript:void(0)"
                   class="complex-settlement-input-switch">Полный адрес</a>
            {% endif %}
            {{ form_row(form.quickModeInput) }}
        </div>
    {% endif %}

    <script>
        (function () {
            var iv = setInterval(function () {
                if (typeof PostAddress !== 'object') return;
                clearInterval(iv);

                var {{ id }}_PostAddress = new PostAddressClass();
                {{ id }}_PostAddress.host = 'https://{{ crm_domain }}';

                {% if form.region.id.vars.value > 0 %}
                {{ id }}_PostAddress.regionId = '{{ form.region.id.vars.value }}';
                {% endif %}
                {% if form.district.id.vars.value > 0 %}
                {{ id }}_PostAddress.districtId = '{{ form.district.id.vars.value }}';
                {% endif %}
                {% if form.settlement.id.vars.value > 0 %}
                {{ id }}_PostAddress.settlementId = '{{ form.settlement.id.vars.value }}';
                {% endif %}
                {% if form.settlement.name.vars.value|length > 0 %}
                {{ id }}_PostAddress.settlementName = '{{ form.settlement.name.vars.value }}';
                {% endif %}
                {% if form.street.type.id.vars.value is defined %}
                {{ id }}_PostAddress.streetTypeId = '{{ form.street.type.id.vars.value }}';
                {% endif %}

                {{ id }}_PostAddress.postIndexTextBoxClass = "#{{ form.vars.id }}-complex .postindex-textbox";

                {{ id }}_PostAddress.regionSelectorClass = "#{{ form.region.id.vars.id }}";
                {{ id }}_PostAddress.districtSelectorClass = "#{{ form.district.id.vars.id }}";
                {{ id }}_PostAddress.settlementSelectorClass = "#{{ form.settlement.id.vars.id }}";
                {{ id }}_PostAddress.settlementTextBoxClass = "#{{ form.settlement.name.vars.id }}";
                {{ id }}_PostAddress.settlementInputModeFieldClass = "#{{ form.settlement.mode.vars.id }}";
                {{ id }}_PostAddress.streetSelectorClass = "#{{ form.street.id.vars.id }}";
                {{ id }}_PostAddress.streetTextboxClass = "#{{ form.street.name.vars.id }}";
                {{ id }}_PostAddress.streetTypeSelectorClass = "#{{ form.street.type.id.vars.id }}";

                {{ id }}_PostAddress.houseTextBoxClass = "#{{ form.house.vars.id }}";
                {{ id }}_PostAddress.buildingTextBoxClass = "#{{ form.building.vars.id }}";
                {{ id }}_PostAddress.unitTextBoxClass = "#{{ form.unit.vars.id }}";
                {{ id }}_PostAddress.flatTextBoxClass = "#{{ form.flat.vars.id }}";

                {{ id }}_PostAddress.simpleSettlementInputTextBoxClass = "#{{ form.quickModeInput.vars.id }}";

                {{ id }}_PostAddress.init();
            }, 100);
        })();
    </script>

    {% if widget_type == type_simple %}
        <script>
            // Если после обновления страницы в полях рассширенного (complex) ввода
            // будут присутствовать данные, скрипты CRM откроют панель для комлексного ввода
            // не зависимо от того, какой тип виджета Вы указали.
            // С помощью этого скрипта насильно открывает упрощенный виджет если нужно
            (function (d) {
                var ch = d.getElementById('{{ form.vars.id }}-complex');
                var sh = d.getElementById('{{ form.vars.id }}-simple');

                setInterval(function () {
                    if (null != ch && ch.style.display != 'none') {
                        ch.style.display = 'none';
                    }
                    if (null != sh && sh.style.display != 'block') {
                        sh.style.display = 'block';
                    }
                }, 250);
            })(document);
        </script>
    {% endif %}

{% endblock %}


{% block adw_mindbox__geo_choice_widget %}
    <select {{ block('widget_attributes') }}></select>
{% endblock %}